<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <%- include('partials/header') %>
  <title>To Do List</title>
</head>
<body>
  <div class="todays-date">
    <%= formattedDate %>
  </div>
  <form action="/add-task" method="post">
    <input type="text" name="taskInput" placeholder="Enter a new task" required/>
    <button type="submit">Add Task</button>
  </form>
  <div class="tasks-container">
    <ul>
      <% tasks.forEach((task) => { %>
        <li class="todo-item <%= task.completed ? 'completed' : '' %>">
          <form action="/update-task" method="post" class="task-form">
            <input type="hidden" name="taskId" value="<%= task._id %>">
            <input type="checkbox" <%= task.completed ? 'checked' : '' %> onchange="this.form.submit()">
            <strong <%= task.completed ? 'class="completed"' : '' %>><%= task.title %></strong>
            <button type="submit" style="display: none;"></button> <!-- Hidden submit button to trigger form submission -->
          </form>
          <!-- Add the delete form for each task -->
          <form action="/delete-task" method="post" class="task-form">
            <input type="hidden" name="taskId" value="<%= task._id %>">
            <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
          </form>
          <span class="timestamp"> Added: <%= task.createdAt.toLocaleTimeString() %></span>
        </li>
      <% }); %>
      
    </ul>
  </div>

</body>
</html>

